*{
    margin: 0;
    padding: 0;
}

h2{
    padding-left: 10px;
    color: white;
    font-weight: bold;
}
header{
    height: 15vh;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100vw;
}
nav{
    display: flex;
    justify-content: space-between;
    /* padding: 2px 6px; */
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee); 
    /* z-index: 999; */

}
.navbar{
    margin-right: 50px;
}



ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;

} 
ul li a:hover{
    cursor: pointer;
    color: black;
}
.menu{
    color: white;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}



@media (max-width: 650px) {
    
    .navbar{
        position: fixed;
        top: 80px;
        padding-left: 0px;
        left: -200%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    li{
        display: block;
    }
    
    header{
        height: 10vh;
    }
    h2{
        font-size: 30px;
    }
    .menu{
        display: block;
    }
    a{
        height: 10px;
        width: 100%;
        background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
       
        border: 2px solid black;
        padding: 10px;
        margin: 10px;
        color: #4458dc;
    }
    footer{
        width: 100vw;
    }
    
    
     
    
}





